extends layout

//- include utils.pug

block content
    if locals.authenticated
        div(class='flex-outer')
            div(class='art-container')
                img(src=`${games.url}`, alt="video game image", class='boxart')
            div(class='flex-inner')
                div(class='inner')
                    div(class='game-title pink')= games.title
                    div(class='game-studio bold flex-inner marginbot') Studio: #{games.studio}
                    div(class='game-date bold flex-inner marginbot') Released: #{games.releaseDate}
                    div(class='flex-inner')
                        div(class='game-avgRating flex-inner')= games.avgCleanRating
        div(class='game-description')= games.description
        div.currentShelvesForGame
            p(class="currentShelves_label") Shelves this game belongs to: 
            each game in GameCurrentShelves
                p=game.name
        if user
            //- div #{user.firstName}
        div(class='midshelf pink bold')
            p How Clean is this Game?
            form(action=`/games/${games.id}/rating`, method="post")
                //- input(type="hidden", name="_csrf" value=importedToken)
                //- label(for="soap", class='rating-text pink bold') How Clean is this Game?
                div
                    select(name="soap", class='dropbox1')
                        option(value=1) 🧼
                        option(value=2) 🧼🧼
                        option(value=3) 🧼🧼🧼
                        option(value=4) 🧼🧼🧼🧼
                        option(value=5) 🧼🧼🧼🧼🧼
                    button(type="submit" class='raw-btn') Clean!
        div.midshelf
            if slapOn
                p(class='err-text') This game is already on this shelf
            p(class='shelf-text' class='pink bold') Add or Remove this game from your shelves
            form(action=`/users/${userId}/addGame/${gameId}`, method="post")
                //- input(type="hidden", name="_csrf" value=importedToken)
                select(name="shelfId" class='dropbox2')
                    each shelf in shelves
                        option(value=shelf.id)= shelf.name
                button(type='submit', class='raw-btn dropDown') Add/Remove
        if notExists
            div.anything
                //- +validationErrorSummary(errors)
                .midshelf
                    p(class='shelf-text' class='pink bold') Write a Review
                    +validationErrorSummary(errors)
                    form(action=`/games/${games.id}`, method="post" class='midshelf')
                        input(type="hidden" name="_csrf" value=token)
                        textarea(name="content" class='textarea' rows='4' cols='40' placeholder='Let the world know what you think')
                        
                        button(type="submit", class='raw-btn') Add A Review
        ul
            each review in games.Reviews
                div.fav
                    img(src="/images/profile.png", alt="")
                    li(class='usernamerev pink bold') #{review.User.username}'s Review
                div.allRevContainer
                    li(class='content') #{review.content}
                    li(id=`list${review.id}`, class='likes') Wow's: #{review.ReviewLikes.length}
                    //- div(id=review.id class='reviewId')

                    //- div(id=userId class='myGamesUserId')
                    //- input(type="hidden" id='myGamesUserId' value=userId)
                    //- div(id=shelfName class='myGamesGameId')
                    if user
                        div(id=userId class='userId')
                        div(id=gameId class='gameId')
                        
                        if usersWowsArr.includes(review.id)
                            button( class=`likes` id=review.id class=`raw-btn likebtn${review.id}`) Un-Wow!
                        else
                            button( class=`likes` id=review.id class=`raw-btn likebtn${review.id}`) Wow!
                        if user.id === review.userId
                            a(href=`/reviews/${review.id}/edit`, class='raw-btn') Edit
                            a(href=`/reviews/${review.id}/delete`, class='raw-btn') Delete
        script(src="/javascripts/reviewLikes.js")
        script(src='/javascripts/login.js')
    else
        div(class='flex-outer')
            div(class='art-container')
                img(src=`${games.url}`, alt="video game image", class='boxart')
            div(class='flex-inner')
                div(class='inner')
                    div(class='game-title pink')= games.title
                    div(class='game-studio bold flex-inner marginbot') Studio: #{games.studio}
                    div(class='game-date bold flex-inner marginbot') Released: #{games.releaseDate}
                    div(class='flex-inner')
                        div(class='game-avgRating flex-inner')= games.avgCleanRating
        div(class='game-description')= games.description

        ul
            each review in games.Reviews
                div.fav
                    img(src="/images/profile.png", alt="")
                    li(class='usernamerev pink bold') #{review.User.username}'s Review
                div.allRevContainer
                    li(class='content') #{review.content}
                    li(id=`list${review.id}`, class='likes') Wow's: #{review.ReviewLikes.length}
        //- script(src="/javascripts/reviewLikes.js")
        script(src='/javascripts/login.js')
