extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")

  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
  //- add page specific js

  script(src="/javascripts/games.js" type="module" defer)

block content
  link(rel='stylesheet' href='/stylesheets/browseGames.css')
  div.header
    h1= title
  //- p TripleConfirmedGames


  div.parentContainer
    each game in games
      div.listedGame
        a(href=`/games/${game.id}`, class='atag')
          img(src=`${game.url}`, alt="video game image", class='gamePic')
        div.gameTitle
          a(href=`/games/${game.id}`, class='gameTitleText')
            p #{game.title}
    //-game.image   <--- potentially add to database
  script(src='/javascripts/login.js')



//- a(href=`/games/${game.id}`) if messed up, copy paste on line 19
      img(src=`${game.url}`, alt="video game image") copy paste on line 20 nested
//-
