extends layout

include utils.pug

block content
    div= games.title
    div= games.rating
    div= games.studio
    div= games.description
    div= games.avgCleanRating
    div= games.releaseDate
    if user
        div #{user.firstName}
    div.anything
        +validationErrorSummary(errors)
        form(action=`/games/${games.id}`, method="post")
            input(type="hidden" name="_csrf" value=token)
            textarea(name="content")
            button(type="submit") Add A Review
    ul
        each review in games.Reviews
            li #{review.User.username}
            li #{review.content}
            li Likes: #{review.ReviewLikes.length}
            if user
                form(action=`/reviews/${review.id}`, method="post")
                    button(type="submit" class='likes') Like!
                if user.id === review.userId
                    a(href=`/reviews/${review.id}/edit`) Edit
                    a(href=`/reviews/${review.id}/delete`) Delete
    script(src="/javascripts/reviewLikes.js")
