extends layout

block content
    div= games.title
    div= games.studio
    div= games.description
    div= games.avgCleanRating
    div= games.releaseDate
    div
        form(action=`/games/${games.id}`, method="post")
            //- input(type="text", name="title")
            textarea(name="content", cols="30", rows="10")
            button(type="submit") Add A Review
    ul
        each review in reviewNames
            li #{review.User.username}
            li #{review.content}
