extends layout

block content
    div= games.title
    div= games.studio
    div= games.description
    div= games.avgCleanRating
    div= games.releaseDate
    if user
        div #{user.firstName}
    div
        form(action=`/games/${games.id}`, method="post")
            textarea(name="content")
            button(type="submit") Add A Review
    ul
        each review in reviewNames
            li #{review.User.username}
            li #{review.content}
            if user
                if user.id === review.userId
                    a(href=`/reviews/${review.id}/edit`) Edit
                    a(href=`/reviews/${review.id}/delete`) Delete
