extends layout.pug


block content
    h2 #{title}
    div(id=userId class='myGamesUserId')
        input(type="hidden" id='myGamesUserId' value=userId)
    div(id=shelfName class='myGamesGameId')
    div.sideBar
        h3 Gameshelves
            ul
                each shelf in shelves
                    li(class='shelf' id=shelf.name) #{shelf.name}(#{shelf.Games.length})
        a(href=`/users/${userId}/addShelf`) Add Shelf
        a(href=`/users/${userId}/deleteShelf`) Delete Shelf
        table
            thead
                tr
                    th Box Art
                    th Title
                    th Studio
                    th AvgCleanRating
                    th Shelves
                    //- th Review
                    th ReleaseDate
            tbody.tableBody
                each game in user.Games
                    tr
                        td
                            img(src=`${game.url}`, alt="video game image")
                        td #{game.title}
                        td #{game.studio}
                        td #{game.avgCleanRating}
                        each shelf in game.Shelves
                            td #{shelf.name},
                        //- td #{game.}
                        //- each review in game.Reviews
                        //-     if review.userId === userId
                        //-         td #{review.content}
                        //-     a(href=`/games/${userId}`) Write a Review
                        td #{game.releaseDate}
    script(src="/javascripts/mygamesDOM.js")
