extends layout.pug


block content
    h2.title #{title}
    div(id=userId class='myGamesUserId')
        input(type="hidden" id='myGamesUserId' value=userId)
    div(id=shelfName class='myGamesGameId')
    div.tableContainer
        h3.sideBar Gameshelves
            ul
                each shelf in shelves
                    li(class='shelf' id=shelf.name) #{shelf.name}(#{shelf.Games.length})
                div(class="AddShelf") 
                    a(href=`/users/${userId}/addShelf`) Add Shelf
                div(class="DeleteShelf") 
                    a(href=`/users/${userId}/deleteShelf`) Delete Shelf
        table.MyGamesTable 
            thead.tableHead
                tr
                    th.tableHead Box Art
                    th.tableHead Title
                    th.tableHead Studio
                    th.tableHead AvgCleanRating
                    th.tableHead Shelves
                    //- th Review
                    th.tableHead ReleaseDate
            tbody.tableBody
                each game in user.Games
                    tr.mygamesTR
                        td.tableData
                            a(href=`/games/${game.id}`)
                                img(src=`${game.url}` class="GameImg accessibleHLink" alt="video game image")
                        td.tableData
                            a(href=`/games/${game.id}` class="accessibleHLink")
                                p #{game.title}
                        td.tableData #{game.studio}
                        td.tableData #{game.avgCleanRating}
                        if game.Shelves && (user.id === userId)
                            each shelf in game.Shelves
                                td(class="shelf") #{shelf.name},
                            else 
                                td(class="shelf")= "No shelves" 
                        //- td #{game.}
                        //- each review in game.Reviews
                        //-     if review.userId === userId
                        //-         td #{review.content}
                        //-     a(href=`/games/${userId}`) Write a Review
                        td.tableData #{game.releaseDate}
    script(src="/javascripts/mygamesDOM.js")
    script(src='/javascripts/login.js')

