extends layout.pug



block content
    div
        h2 #{user.username}
    div
        h3 Details
        ul
            li #{user.firstName}
            li #{user.lastName}
            li #{user.email}
    div
        h3 Activity
        ul
            li Joined In #{user.createdAt}
            li Total Reviews: #{totalReviews}
            li Total Review Likes: #{totalReviewLikes}
    div
        h3 #{user.firstName}'s GAME SHELVES
        each shelf in shelves
            ul
                li #{shelf.name}(#{shelf.Games.length})
    div
        h3 #{user.username.toUpperCase()}'s RECENT UPDATES
            ul
                each game in user.Games
                    p -----------------------
                    li #{game.title}
                    li #{game.studio}
                    li #{game.avgCleanRating}
                    li #{game.description}
                    each review in game.Reviews
                        //- if review.userId === userId
                        li #{review.content}
                    select(name="shelf-names")
                        each shelf in game.Shelves
                            option(value=shelf.name)= shelf.name
                //- if user.Games.id === user.Reviews.
                //- each review in user.Reviews
                //-     li #{review.content}
                //- each game in user.Games
                //-     li #{game.name}
