extends layout.pug



block content
    div.topHalfProfile
        h1.updateTitles #{user.username}
            img(class="profileImg" src="/images/profile.png" alt="")
        div.username
            h2.updateTitles #{user.username}'s Profile
        div.details
            h3.updateTitles Details:
            ul.detailsList
                li #{user.firstName}
                li #{user.lastName}
                li #{user.email}
        div.activity
            h3.updateTitles Activity:
            ul.activitiesList
                li.activities Joined On #{formattedDate}
                li.activities Total Reviews: #{totalReviews}
                li.activities Total Review Likes: #{totalReviewLikes}
                li.activities Total Amount of Shelves: #{totalShelves}

    div.profileShelves
        h3.updateTitles #{user.firstName}'s GAME SHELVES:
        each shelf in shelves
            ul
                li #{shelf.name}(#{shelf.Games.length})
    //- div
    //-     h3.updateTitles #{user.username.toUpperCase()}'s GAMES AND REVIEWS
    //-     ul.GameReviewsDiv
    //-         each game in user.Games
    //-             div.profileFlex
    //-                 div.gameImage
    //-                     li
    //-                         a(href=`/games/${game.id}`)
    //-                             img(src=`${game.url}`, alt="video game image")
    //-                 div.detailsFlex
    //-                     li
    //-                         a(href=`/games/${game.id}` class='dynamic profileTitle') #{game.title}
    //-                     li #{game.studio}
    //-                     li Average Rating: #{game.avgCleanRating}
    //-                     li #{game.description}
    //-                     each review in game.Reviews
    //-                         if review.userId === userId
    //-                             li <span class='pink'>Your Review: </span> #{review.content}
    //-                             each rating in user.GameCleanRatings
    //-                                 if rating.userId === userId && rating.gameId === game.id
    //-                                     li <span class='pink'>Your Clean Rating: </span> #{rating.rating}
    //-                     label(for="shelf-names") On Shelves:
    //-                     select(name="shelf-names")
    //-                         each shelf in game.Shelves
    //-                             option(value=shelf.name)= shelf.name




    div
        h3.updateTitles #{user.username.toUpperCase()}'s GAMES AND REVIEWS
        ul.GameReviewsDiv
            each game in userGamesArr
                div.profileFlex
                    div.gameImage
                        li
                            a(href=`/games/${game.id}`)
                                img(src=`${game.url}`, alt="video game image")
                    div.detailsFlex
                        li
                            a(href=`/games/${game.id}` class='dynamic profileTitle') #{game.title}
                        li #{game.studio}
                        li Average Rating: #{game.avgCleanRating}
                        li #{game.description}
                        each review in game.Reviews
                            if review.userId === userId
                                li <span class='pink review-margin'>Your Review: </span> #{review.content}
                        each rating in game.GameCleanRatings
                            if rating.userId === userId && rating.gameId === game.id
                                li <span class='pink rating-margin-top'>Your Clean Rating: </span> #{rating.rating}
                        p.on-shelves On Shelves:
                            if game.Shelves.length === 0
                                span.none None


                            each shelf in game.Shelves
                                if shelf.userId === userId
                                    span.shelf-name #{shelf.name}


                        //- label(for="shelf-names") On Shelves:
                        //- select(name="shelf-names")
                        //-     each shelf in game.Shelves
                        //-         option(value=shelf.name)= shelf.name
                p.pTag


                        //- if user.Games.id === user.Reviews.
                        //- each review in user.Reviews
                        //-     li #{review.content}
                        //- each game in user.Games
                        //-     li #{game}
    script(src='/javascripts/login.js')
