extends layout.pug 



block content
    div 
        h2 #{user.username}
    div
        h4 Details 
            ul 
                li #{user.firstName} 
                p #{user.lastName} 
                p #{user.email}
    div 
        h4 Activity 
            ul
                li Joined In #{user.createdAt}
                li Total Reviews: #{totalReviews}  