extends layout.pug



block content
    div.topHalfProfile
        h1 Profile 
        img(src="/public/images/user.png" alt="")
        div.username
            h2 #{user.username}'s Profile  
        div.details
            h3 Details:
            ul.detailsList
                li #{user.firstName}
                li #{user.lastName}
                li #{user.email}
        div.activity
            h3 Activity: 
            ul.activitiesList
                li.activities Joined In #{user.createdAt}
                li.activities Total Reviews: #{totalReviews}
                li.activities Total Review Likes: #{totalReviewLikes}
    div.profileShelves
        h3 #{user.firstName}'s GAME SHELVES
        each shelf in shelves
            ul
                li #{shelf.name}(#{shelf.Games.length})
    div
        h3 #{user.username.toUpperCase()}'s RECENT UPDATES
            ul
                each game in user.Games
                    p -----------------------
                    li.gameImage 
                        img(src=`${game.url}`, alt="video game image")
                    li #{game.title}
                    li #{game.studio}
                    li #{game.avgCleanRating}
                    li #{game.description}
                    each review in game.Reviews
                        if review.userId === userId
                            li #{review.content}
                    select(name="shelf-names")
                        each shelf in game.Shelves
                            option(value=shelf.name)= shelf.name
                    //- if user.Games.id === user.Reviews.
                    //- each review in user.Reviews
                    //-     li #{review.content}
                    //- each game in user.Games
                    //-     li #{game}
    script(src='/javascripts/login.js')
